@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header ul li{
  margin-left: 40px;
}

.numbers{
  width: 100%;
  background-color: rgba(59, 59, 59, 0.437);
}
.active{
  text-decoration: underline 2px red;

}

#contact{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}

.facode{
  color: blue;
}



.image-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Initially transparent */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Black background on hover */
  opacity: 1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Content color */
  text-align: center;
  /* Additional styling for your content */
}


@media only screen and (max-width: 500px) {

  .contact-me{
    display: none;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background on hover */
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Content color */
    text-align: center;
    /* Additional styling for your content */
  }
}